{{ define "main" }}
  <div class="archive">
    <ul class="list-with-title">
      {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="listing-wrapper">
          <div class="listing-title">{{ .Key }}</div>
          {{ range .Pages }}
            <ul class="listing">
              <div class="listing-item">
                <div class="listing-post">
                  <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                  <div class="post-time">
                    <span class="date"
                      >{{ if isset .Site.Params "listdateformat" }}
                        {{ .Date.Format .Site.Params.listDateFormat }}


                      {{ else }}
                        {{ .Date.Format "2006-02-01" }}


                      {{ end }}</span
                    >
                  </div>
                </div>
              </div>
            </ul>
          {{ end }}
        </div>

      {{ end }}
    </ul>
  </div>

{{ end }}
