{{ define "main" }}
  <article class="post">
    <header class="post-title">
      <h1>{{ .Title }}</h1>
    </header>

    <div class="post-content">
      {{ if .Params.thumbnail }}
        <img class="post-thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" />

      {{ end }}

      {{- if (eq .Params.toc true) -}}
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}


      {{- end -}}

      {{ .Content }}

      {{- if isset .Params "series" -}}
        {{- partial "series.html" . -}}


      {{- end -}}

    </div>
    <footer class="post-footer">
      <div class="meta">
        <div class="info">
          <em class="fas fa-calendar-day"></em>
          <span class="date">
            {{ if isset .Site.Params "indexdateformat" }}
              {{ .Date.Format .Site.Params.indexDateFormat }}
            {{ else }}
              {{ .Date.Format "2006-02-01" }}
            {{ end }}
          </span>
          {{ with .Page.Params.Categories }}
            {{ partial "taxonomy/categories.html" . }}
          {{ end }}
          {{ with .Page.Params.Tags }}
            {{ partial "taxonomy/tags.html" . }}
          {{ end }}
        </div>
      </div>
    </footer>

    {{ if isset .Params "comments" }}
      <div class="comments">
        <h4>Comments ({{ .Params.comments | len }})</h4>
      {{ range .Params.comments }}
        <div class="comment">
          <div class="comment-author"><b>{{ if .url }}<a href="{{ .url }}" rel="external nofollow ugc" class="url">{{ end }} {{ .author }}{{ if .url }}</a>{{ end }}</b> on <time datetime="{{ .date }} {{ .time }}">{{ .date }}</time></div>
          <div class="comment-content">{{ plainify .content }}</div>
        </div>
      {{ end }}
    {{ end }}

  </div>

{{ end }}
