@charset "UTF-8";

@font-face {
  font-family: "Noto Serif";
  src: url("https://cdn.gpunktschmitz.de/webfonts/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: "Noto Serif";
  src: url("https://cdn.gpunktschmitz.de/webfonts/NotoSerif-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Serif";
  src: url("https://cdn.gpunktschmitz.de/webfonts/NotoSerif-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url("https://cdn.gpunktschmitz.de/webfonts/NotoSerif-Italic.ttf");
  font-weight: bold;
  font-style: italic;
}

:root {
  --bg-color: #f1f1f1;
  --body-color: rgba(0, 0, 0, 0.7);
  --secondary-bg-color: #fff;
  --border-color: rgba(0, 0, 0, 0.15);
  --tag-color: #999;
  --pre-bg-color: #ececec;
  --link-color: #0366d7;

  --heading-color: #464646;
  --post-color: rgba(0, 0, 0, 0.44);
  --form-border-color: #9f9f9f;
  --form-button-hover-border-color: #000;
  --blockquote-text-color: #858585;
  --blockquote-border-color: #dfe2e5;
  --warning-alert-color: #ffc107;
  --thumbnail-height: 15em;

  --post-footer-color: #f4f3f3;
  --post-border-color: #eae8e8;
  --page-bg-color: #f1f1f1;

  --social-links-feed-color: #f99740;
  --social-links-twitter-color: #00c6ff;
  --social-links-github-color: #0f0f0f;
  --social-links-stack-overflow-color: #ff9800;
  --social-links-xing-color: #118383;

  --body-max-width: 1920px;
  --sidebar-ratio: calc(1 - var(--content-ratio));
  --content-max-width: calc(var(--body-max-width) * var(--content-ratio));
  --sidebar-max-width: calc(var(--body-max-width) - var(--content-max-width));
  --content-width: calc(var(--content-ratio) * 100%);
  --sidebar-width: calc(var(--sidebar-ratio) * 100%);
  /* prettier-ignore */
  --content-ratio: {{ .Site.Params.contentratio | default 0.6 }}
}

html {
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  font-family: 'Noto Serif', serif;
  font-size: 1.9rem;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}

a {
  text-decoration: underline;
  color: var(--link-color);
}

blockquote {
  padding: 0 1em;
  border-left: 0.25em solid var(--blockquote-border-color);
  color: var(--blockquote-text-color);
}

.category {
  padding: 4px 6px;
  border-radius: 3px;
  color: var(--tag-color) !important;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
}

.tag::before {
  content: '#';
  opacity: 0.5;
}

.tag,
.category {
  display: inline-block;
  line-height: 1;
  margin: 5px 8px 5px 0;
}

pre {
  background-color: var(--pre-bg-color);
  padding: 5px;
  display: block;
  overflow-x: auto;
}

.info i {
  opacity: 0.5;
  margin-right: 5px;
}

a:link,
a:visited {
  opacity: 1;
  color: var(--link-color);
}

a:hover,
a:active {
  opacity: .7;
}

main {
  width: var(--content-width);
  background-color: var(--page-bg-color);
}

.content {
  height: auto;
  margin-top: 2rem;
  max-width: var(--content-max-width);
}

aside {
  width: var(--sidebar-width);
}

.sidebar {
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  left: 0;
  z-index: 4;
  border-right: 1px solid var(--border-color);
  background-color: var(--secondary-bg-color);
  padding-bottom: 2rem;
}

.sidebar .logo-title {
  top: 40%;
  text-align: center;
}

.sidebar .logo-title .author {
  margin: 0 1em;
}

.sidebar .logo-title .description {
  font-size: 1.6rem;
  margin: 0 1em;
}

.sidebar .logo-title .logo {
  margin: 0 auto;
}

.logo {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.sidebar .logo-title .title a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: bold;
}

.sidebar .social-links {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  text-align: center;
}

.sidebar .social-links i {
  margin-right: 3px;
}

.sidebar .social-links li {
  display: inline;
  padding: 0 4px;
  line-height: 0;
}

.sidebar .social-links a {
  text-decoration: none;
}

.sidebar .social-links a[href^="/feed"] {
  color: var(--social-links-feed-color);
}

.sidebar .social-links a[href^="https://twitter.com"] {
  color: var(--social-links-twitter-color);
}

.sidebar .social-links a[href^="https://github.com"] {
  color: var(--social-links-github-color);
}

.sidebar .social-links a[href^="https://stackoverflow.com"] {
  color: var(--social-links-stack-overflow-color);
}

.sidebar .social-links a[href^="https://www.xing.com"] {
  color: var(--social-links-xing-color);
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  color: var(--heading-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4, h5 {
  font-size: 2.2rem;
}

.post {
  margin: 2rem;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
}

header.post-title {
  margin: 2rem 0 0 0;
  padding: 4rem 4rem 0 4rem;
}

.post-content {
  padding: 0 4rem 4rem 4rem;
}

.post-title > h1,
.post-title > h3,
.post-content {
  margin: 0 2rem;
  line-height: 1.6;
}

.post .post-title a {
  text-decoration: none;
}

.post .post-title a:hover {
  text-decoration: underline;
}

.post .post-content img {
  max-width: 100%;
}

.post .post-content ul,
.post .post-content ol {
  line-height: 1.9em;
}

.post .post-footer {
  background-color: var(--post-footer-color);
  border-top: 1px solid var(--border-color);
}

.post .post-footer .meta {
  max-width: 100%;
  display: flex;
  color: var(--tag-color);
}

.post .post-footer .meta .info {
  float: left;
  font-size: 85%;
}

.post .post-footer .info .separator a {
  margin-right: 0.2rem;
}

.post .post-footer .meta .info .date {
  margin-left: 0.4rem;
}

.post figure {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.post figure.right {
  float: right;
  margin-left: 1.5em;
  max-width: 50%;
}

.post figure.left {
  float: left;
  margin-right: 1.5em;
  max-width: 50%;
}

.post figure.big {
  max-width: 100vw;
}

.info {
  padding: 1rem 2rem;
}

.info span {
  margin-right: 0.5em;
}

.post .post-footer .meta a {
  text-decoration: none;
  color: var(--tag-color);
}

.post .post-footer .tags ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.post .post-footer .tags ul li {
  list-style-type: none;
  margin: 0;
  padding-right: 5px;
  display: inline;
}

.post .post-footer .tags a {
  text-decoration: none;
  color: var(--post-color);
  font-weight: 400;
}

.post .post-footer .tags a:hover {
  text-decoration: none;
}

.post .post-thumbnail {
  width: 100%;
  padding-bottom: 1em;
  box-shadow: #000;
  border-radius: 0.5em;
  overflow: hidden;
}

.post .post-thumbnail img {
  width: 100%;
  height: var(--thumbnail-height);
  object-fit: cover;
  border: 1px solid var(--border-color);
  border-bottom: 0px;
}

.pagination {
  margin: 30px;
  padding: 0px 0 56px 0;
  text-align: center;
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 13px;
}

.pagination ul li {
  margin: 0 2px 0 2px;
  display: inline;
  line-height: 1;
}

.pagination ul li a {
  text-decoration: none;
  color: var(--link-color);
}

.pagination ul li a:hover {
  text-decoration: underline;
}

.pagination ul li a {
  color: var(--link-color);
}

.pagination ul li a.current {
  color: var(--body-color);
  font-weight: bold;
  cursor: default;
}

.pagination ul li a.current:hover {
  text-decoration: none;
}

.pagination .pre {
  float: left;
}

.pagination .next {
  float: right;
}

/*for archive*/
.archive {
  width: 100%;
}


.listing-wrapper {
  background-color: var(--secondary-bg-color);
  margin-top: 2rem;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.listing-wrapper > ul:last-child {
 margin-bottom: 2rem;
}

.list-with-title {
  margin: 2rem;
  padding: 0;
}

.list-with-title li {
  list-style-type: none;
  padding: 0;
}

.list-with-title .listing-title {
  background-color: var(--tag-color);
  color: var(--secondary-bg-color);
  padding: 0 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.2em;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.list-with-title .listing {
  padding: 2rem 2rem 0 2rem;
}

.list-with-title .listing .listing-post .post-time {
  float: right;
  display: inline-block;
  max-width: 20%;
  text-align: right;
  color: var(--heading-color);
}

.list-with-title .listing .listing-post a {
  width: 80%;
  display: inline-block;
}

.utterances {
  max-width: unset;
}

#TableOfContents {
  display: block;
  background: transparent;
}

#TableOfContents ul {
  list-style: none;
  line-height: 1.9em;
  margin: 0;
}

#TableOfContents > ul {
  padding-left: 0;
}

#TableOfContents li a {
  display: inherit;
  color: var(--link-color);
}

#TableOfContents li a:hover {
  display: inherit;
}

code:not(pre.chroma>code), kbd, tt, var, samp {
  background-color: var(--pre-bg-color);
  border: 6px solid var(--pre-bg-color);
  font-family: Inconsolata,monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 0;
  color: var(--chr-def-color)
}

pre.chroma {
  background-color: var(--pre-bg-color);
  border: 1rem solid var(--pre-bg-color);
  padding: 0 .3rem;
}

pre.chroma>code {
  white-space: pre-wrap;
}

.comments {
  margin: 2rem;
  padding: 0 4rem;
}

.comments h4 {
  margin-bottom: 0;
}

.comment {
  margin-top: 3rem;
}

.comment-author {
  border-left: 5px solid gray;
  font-size: 0.9em;
  margin: 0;
  margin-top: 0px;
  margin-top: 2px;
  padding: 0 0 0 10px;
}

h3>a:link,
h3>a:visited {
  color: var(--heading-color);
}

div.tag-cloud {
  display: block;
  text-align: center;
}

.tag-cloud-tags {
  list-style-type: none;
  padding-inline-start: 0;
  max-width: 50rem;
  display: inline-block;
}

.tag-cloud-tags li {
  display: inline-block;
  padding-right: 1rem;
}

.tag-cloud-tags li a{
  text-decoration: none;
}

@media screen and (min-width: 1041px), print {
  .sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: var(--sidebar-width);
  }

  .sidebar__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 30%;
  }

  .wrapper {
    display: flex;
  }

  .footer--base {
    display: none;
  }

  .box {
    padding: 48px;
    box-shadow: 0 0 48px var(--border-color);
    background-color: #fff;
    border-radius: 0.5em;
  }

  .box-wrapper::before {
    border: 1px solid var(--border-color);
    content: '';
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    background: transparent;
    border-radius: 0.5em;
  }

  .box-image--right,
  .box-image--left {
    width: 60%;
    object-fit: contain;
    max-width: none;
  }

  .box-image--right {
    margin-right: 0;
    margin-left: auto;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }

  .box-image--left {
    margin-right: auto;
    margin-left: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }

  .box--left,
  .box--right {
    width: 60%;
    margin-top: -48px;
    z-index: 3;
    background: var(--blockquote-border-color);
  }

  .box--right {
    margin-left: auto;
  }
}

@media screen and (max-width: 1040px) {
  aside {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }

  .sidebar {
    width: 100%;
    border-right: none;
    z-index: 1;
    height: auto;
    min-height: auto;
  }

  .sidebar .logo-title {
    padding-top: 2rem;
  }

  .logo {
    width: 100px;
  }

  .sidebar h3.title {
    font-size: 2.5rem;
  }

  main {
    width: 100%;
  }

  .content {
    z-index: 2;
  }

  .post figure.right {
    float: unset;
    max-width: 100%;
    margin: 0;
  }

  .post figure.left {
    float: unset;
    max-width: 100%;
    margin: 0;
  }

  .list-with-title .listing .listing-post .post-time {
    max-width: 20%;
  }

  .list-with-title .listing .listing-post a {
    width: 80%;
  }

  .box--right,
  .box--left {
    border-bottom: 1px solid var(--border-color);
  }

  .box-image--left,
  .box-image--right {
    padding: 32px 32px 0px 32px;
    max-width: inherit;
  }

  .box-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 960px) {
  body {
    font-size: 1.6rem;
  }

  .post {
    margin: 2rem 0;
  }

  .list-with-title {
    margin: 2rem 0;
  }

  .list-with-title .listing .listing-post .post-time {
    max-width: 100%;
    float: left;
    display: contents;
  }

  .list-with-title .listing .listing-post a {
    width: 100%;
  }

  .post-content {
    padding-left: 0;
    padding-right: 0;
    margin: 0 1rem;
  }

  header.post-title {
    padding: 0;
  }
  header.post-title>h1 {
    margin: 0 1rem;
  }

  .comments {
    margin: 1rem;
    padding: 0;
  }
}
