{{ if gt .Paginator.TotalPages 1 }}
  <ul class="pagination">
    {{ $.Scratch.Set "hasPrevDots" false }}
    {{ $.Scratch.Set "hasNextDots" false }}
    {{ if .Paginator.HasPrev }}
      <li class="page-item">
        <a class="page-link" href="{{ .Paginator.Prev.URL }}">
          <i class="fa fa-angle-left" aria-label="Previous"></i>
        </a>
      </li>

    {{ end }}
    {{ range .Paginator.Pagers }}
        <li class="page-item">
          <a class="page-link {{ if eq . $.Paginator }}current{{ end }}" href="{{ .URL }}" aria-label="page {{- .PageNumber -}}" {{ if eq . $.Paginator }}aria-current="page"{{ end }}>
            {{- .PageNumber -}}
          </a>
        </li>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <li class="page-item">
        <a class="page-link" href="{{ .Paginator.Next.URL }}">
          <i class="fa fa-angle-right" aria-label="Next"></i>
        </a>
      </li>
    {{ end }}
  </ul>

{{ end }}
