<div class="sidebar">
  <div class="sidebar__content">
    <div class="logo-title">
      <div class="title">
        <a href="{{ .Site.BaseURL | relLangURL }}">
          <h3 class="title">{{ replace .Site.Title "." ".<wbr>" | safeHTML }}</h3>
          <div class="description">
            <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
          </div>
        </a>
        <img class="logo" src="{{ .Site.Params.profilePicture | relURL }}" alt="profile picture" />
        <h3 class="author">{{ replace .Site.Params.author "\n" "<br />" | safeHTML }}</h3>
      </div>
    </div>
    <div class="widget social">
      <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
          <li>
            <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" title="{{ $item.title }}">
              <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
            </a>
          </li>

        {{ end }}
      </ul>
    </div>
    {{ partial "tag-cloud.html" . }}
  </div>
</div>
